

.header .title {
  text-transform: uppercase;
}

.section .content .items {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.employment .location {
  font-style:italic;
}

.employment .position {
  font-weight: bold;
}

.contact-header {
  text-transform: uppercase;
  font-size: .9em;
}
.contact-header .name {
  font-size: 1.5em;
}

.employment {
  font-size: 1.1em;
}
